.venv
.env
papers/talk_tuner/dataset/
papers/talk_tuner/__pycache__/
bilingual_user_models/dataset/**/*.txt
bilingual_user_models/lang_dataset/**/*.txt
bilingual_user_models/__pycache__/
**/__pycache__/
